<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <!-- Required meta tags -->
        <!-- base:css -->
        <link rel="stylesheet" href="{{asset('assets/vendors/mdi/css/materialdesignicons.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/vendors/base/vendor.bundle.base.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
            <!-- endinject -->
       
        <link rel="shortcut icon" href="{{asset('assets/images/favicon.png')}}" >
        {% block stylesheets %}{% endblock %}
        

        
        {% block javascripts %} {% endblock %}
        <!-- base:js -->
        <script src="{{asset('assets/vendors/base/vendor.bundle.base.js')}}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="{{asset('assets/js/template.js')}}"></script>
        <!-- endinject -->
        <!-- plugin js for this page -->
        <!-- End plugin js for this page -->
        <script src="{{asset('assets/vendors/chart.js/Chart.min.js')}}"defer></script>
        <script src="{{asset('assets/vendors/progressbar.js/progressbar.min.js')}}"></script>
        <script src="{{asset('assets/vendors/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js')}}"defer></script>
        <script src="{{asset('assets/vendors/justgage/raphael-2.1.4.min.js')}}"defer></script>
        <script src="{{asset('assets/vendors/justgage/justgage.js')}}"defer></script>
        <script src="{{asset('assets/js/jquery.cookie.js')}}" type="text/javascript" defer></script>
        <!-- Custom js for this page-->
        <script src="{{asset('assets/js/dashboard.js')}}" defer></script>
        <!-- End custom js for this page-->
           
       
    </head>
    <body>
        {% include "_partiels/nav.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
