{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
   {% for afficher in afficher %}
  
        <div class="col md-3">
            <article class="card ">
                
                    <img src="{{ asset('uploads/') ~ afficher.image  }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ afficher.libelle }}</h5>
                        <p class="card-text">Le bien {{ afficher.libelle }} fait une taille de {{ afficher.taille }}m² et est situer a {{ afficher.localisation }}</p>
                        <a href="#" class="btn btn-primary">{{ afficher.prix }}</a>
                    
                </div>
            </article>
        </div>

   {% endfor %}
</div>   
{% endblock %}
