{% extends 'base.html.twig' %}
{% block title %} Ajouter UnBien Immobilier{% endblock %}
{% block body %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Modifier l'information du bien Immobilier</h4>
            <p class="card-description">
              Information 
                </p>
               
                {{ form_start(form, {'attr': {'class': 'form-sample mt-2'}}) }}
                    <div class="form-group">
                        {{ form_row(form.libelle,  {'attr': {'class': 'form-control', 'placeholder': 'libele'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.localisation,  {'attr': {'class': 'form-control', 'placeholder': 'localisation'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.taille,  {'attr': {'class': 'form-control', 'placeholder': 'taille'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.prix,  {'attr': {'class': 'form-control', 'placeholder': 'Prix'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.image,  {'attr': {'class': 'form-control', 'placeholder': 'image'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.Propreitaire,  {'attr': {'class': 'form-control' }}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.AgentImmobilier,  {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary me-2">modifier</button>
                {{ form_end(form) }}    

        </div> 
    </div> 
</div>        
{% endblock %}
